input.tool-mfa-verification-code,
.tool-mfa-verification-code input {
    /* Some elements must be important to override form element*/
    font-size: 1.5em !important;
    font-family: monospace;
    text-align: center;
}

.mfa-verify-form .form-group.fitem,
.mfa-verify-form .form-group.fitem > span,
.mfa-verify-form .form-group.fitem > span > input {
    width: 100%;
}
